@import url(constants.css);
@import url(links.css);
@import url(top-links-container.css);
@import url(typography.css);
@import url(anim.css);

body {
    font-family: monospace;
    background-color: #2e2e2e;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.2em;
    animation-name: reveal-body;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}
body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}