.top-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-links-container ul {
    list-style-type: none;
}
.top-links-container ul li {
    display: inline-block;
    margin-left: 5px;
}